:root {
    --main-navy-color: #29235C;
    --main-brown-color: #c1aba0;
    --main-blue-color: #e6f4f7;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    background: url("../img/bg.png");
    color: var(--main-navy-color);
    min-width: 300px;
}

/*nav*/
#headerWrap {
    position: fixed;
    background: url("../img/bg_blue.png");
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(41, 62, 63, 0.158);
}
.gnbWrap {
    max-width: 1200px;
    position: relative;
    padding: 0 100px;
}
.logo {
    position: absolute;
    top: 50%; 
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 60px;
}
.logo.on {
    opacity: 1;
}

#gnb {
    background: url("../img/bg_blue.png");
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 24px;
    display: none;
    box-shadow: 0 10px 8px rgba(41, 62, 63, 0.048);
}
#gnb li {
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
}
#gnb li::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--main-navy-color);
    position: absolute;
    bottom: 10px;
    left: 35%;
    transition: all 0.5s;
    opacity: 0;
    transform: translateX(-100%);
}
#gnb li:hover::after,
#gnb li.on::after {
    opacity: 1;
    transform: translateX(0);
}
.gnbBtn {
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gnbBtn span {
    width: 100%;
    height: 5px;
    background: var(--main-navy-color);
    margin-bottom: 3px;
}
.gnbBtn span:last-of-type {
    margin-bottom: 0;
}
/*footer*/
footer {
    font-size: 0.7rem;
    padding: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c1aba0 url("../img/bg.png");
    position: relative;
}
footer .blogLink {
    display: flex;
    justify-content: space-around;
    width: 100px;
    margin-top: 24px;
    width: 30px;
    height: 30px;
}
footer .blogLink img{
    width: 30px;
}
footer .blogLink img:first-of-type {
    margin-right: 20px;
}


@media all and (min-width:640px) {
    .gnbBtn {
        display: none;
    }
    #gnb{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 24px;
    }
    #gnb li::after {
        width: 70%;
        left: 15%;
    }
}

@media all and (min-width:780px) {
}
@media all and (min-width: 1024px) {
    #headerWrap {
        position: relative;
    }
    .gnbWrap {
        display: flex;
    }
    .logo{
        left: 15%;
        transform: translate(0,-50%);
    }
    #gnb {
        background: transparent;
        top: 0;
        right: 10%;
        padding: 0;
        width: 60%;
        box-shadow: none;
    }
    
    footer {
        flex-direction: row;
        gap: 50px;
    }
}
@media all and (min-width: 1280px) {
}